<div class="login-wrapper col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <img src="../../assets/img/logo_on_white.png" alt="logo">
  <h1>HR</h1>

  <h2 *ngIf="isActiveToken">Please enter your new password</h2>


  <form novalidate #resetPassForm="ngForm" *ngIf="isActiveToken" (ngSubmit)="onSubmit(resetPassForm)">
    <fieldset class="well material_shadow_btm">
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="password"
               name="password1"
               ngModel
               [disabled]="showSuccessMessage"
               minlength="6"
               required
               #pass1="ngModel">
        <p *ngIf="pass1.errors?.minlength && pass1.dirty && pass1.touched" class="validation-error">Password must
          contain at least 6 character</p>
        <p *ngIf="pass1.errors?.required && (pass1.touched || resetPassForm._submitted)" class="validation-error">You
          can't leave this empty</p>

        <input type="password"
               class="form-control"
               placeholder="retype password"
               name="password2"
               ngModel
               [disabled]="showSuccessMessage"
               minlength="6"
               required
               #pass2="ngModel">
        <p *ngIf="(pass2.dirty && pass1.dirty && pass2.touched) && pass2.value !== pass1.value"
           class="validation-error">Password doesn't match</p>
        <p *ngIf="pass2.errors?.required && (pass2.touched || resetPassForm._submitted)" class="validation-error">You
          can't leave this empty</p>

        <div>
          <p class="validation-error">{{validationError}}</p>
        </div>
      </div>

      <button class="btn btn-success btn-block" *ngIf="!showSuccessMessage">
        <i class="fa fa-key" aria-hidden="true"></i>
        Reset
      </button>
    </fieldset>
  </form>

  <p class="validation-error" *ngIf="!isActiveToken">{{validationError}}</p>

  <p class="alert alert-info" *ngIf="showSuccessMessage">
    <i class="glyphicon glyphicon-exclamation-sign"></i>
    Password was changed successfully.
  </p>

  <p>
    <a [routerLink]="['/login']">Go to log in</a>
  </p>
</div>
