<div>
  <div class="page-header">
    <h1>Analytics</h1>
  </div>

  <div class="charts-controls">
    <input type="text" class="form-control" id="datepicker-dateFrom" name="dateFrom" placeholder="Date from">
    <input type="text" class="form-control" id="datepicker-dateTo" name="dateTo" placeholder="Date to">
  </div>

  <div id="bar-chart-exps" class="bar-chart-container">
    <h3>How long people work at this company</h3>
  </div>

  <div id="bar-chart-ages" class="bar-chart-container">
    <h3>Ages</h3>
  </div>

  <div id="bar-chart-grows" class="bar-chart-container">
    <h3>
      Company grow(count of people)
      <sup>
        <span class="label label-info">Determined by date filter</span>
      </sup>
    </h3>
  </div>

  <div id="bar-chart-left-company" class="bar-chart-container">
    <h3>
      Left the company
      <sup>
        <span class="label label-info">Determined by date filter</span>
      </sup>
    </h3>
  </div>

  <div id="bar-chart-reasons" class="bar-chart-container">
    <h3>
      Reasons left the company
      <sup>
        <span class="label label-info">Reasons by date filter</span>
      </sup></h3>
  </div>

  <div id="bar-chart-new-per-month" class="bar-chart-container">
    <h3>
      New people per month
      <sup>
        <span class="label label-info">Determined by date filter</span>
      </sup>
    </h3>
  </div>

  <div id="bar-chart-left-per-month" class="bar-chart-container">
    <h3>
      People who left per month
      <sup>
        <span class="label label-info">Determined by date filter</span>
      </sup>
    </h3>
  </div>

  <div id="pie-chart-genders" class="pie-chart-container">
    <h3>Genders</h3>
  </div>


  <div id="pie-chart-departments" class="pie-chart-container">
    <h3>Departments</h3>
  </div>

  <div id="bar-chart-turnover-by-years" class="bar-chart-container">
    <h3>
      Turnover by years
      <sup>
        <span class="label label-info">Turnover by years</span>
      </sup></h3>
  </div>

  <div id="bar-chart-turnover-by-quarters" class="bar-chart-container">
    <h3>
      Turnover by quarters
      <sup>
        <span class="label label-info">Turnover by quarters</span>
      </sup></h3>
  </div>
</div>
