<div class="container">
  <div class="top-bar">
    <div class="checkbox">
      <input type="checkbox" name="" value="1" id="checkboxOne">
      <label for="checkboxOne"></label>
    </div>
    <div class="bar-items">
      <p class="bar-item bar-item_active">SELECT ALL</p>
      <p class="bar-item">MARK AS READ</p>
      <p class="bar-item">DELETE SELECTED</p>
    </div>
  </div>
  <div class="table">
    <div class="row row_active">
      <div class="checkbox">
        <input type="checkbox" name="" value="1" id="checkboxThree">
        <label for="checkboxThree"></label>
      </div>
      <div class="img"></div>
      <p class="name">John Cena</p>
      <p class="desc">American professional wrestler, actor, rapper and reality television show host. Cena is currently signed to WWE, where he is a free agent, appearing for both the Raw and SmackDown brands. </p>
      <div class="label">
        <p class="label__text">Some other case</p>
      </div>
      <div class="info">
        <div class="clock-time">
          <img class="clock" src="../../assets/icn-clock.png" alt="clock">
          <p class="time">2 weeks ago</p>
        </div>
        <div class="message">
          <img  alt="mess" class="message-icon">
          <p class="message-count">5</p>
        </div>
      </div>
    </div>
    <div class="row row_active">
      <div class="checkbox">
        <input type="checkbox" name="" value="1" id="checkboxThree">
        <label for="checkboxThree"></label>
      </div>
      <div class="img"></div>
      <p class="name">John Cena</p>
      <p class="desc">American professional wrestler, actor, rapper and reality television show host. Cena is currently signed to WWE, where he is a free agent, appearing for both the Raw and SmackDown brands. </p>
      <div class="label">
        <p class="label__text">Addult blankets needed</p>
      </div>
      <div class="info">
        <div class="clock-time">
          <img class="clock" src="../../assets/icn-clock.png" alt="clock">
          <p class="time">2 weeks ago</p>
        </div>
        <div class="message">
          <img  alt="mess" class="message-icon">
          <p class="message-count">5</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="checkbox">
        <input type="checkbox" name="" value="1" id="checkboxThree">
        <label for="checkboxThree"></label>
      </div>
      <div class="img"></div>
      <p class="name">John Cena</p>
      <p class="desc">American professio SmackDown brands. </p>
      <div class="label">
        <p class="label__text">Addult blankets needed</p>
      </div>
      <div class="info">
        <div class="clock-time">
          <img class="clock" src="../../assets/icn-clock.png" alt="clock">
          <p class="time">2 weeks ago</p>
        </div>
        <div class="message">
          <img  alt="mess" class="message-icon">
          <p class="message-count">5</p>
        </div>
      </div>
    </div>
    <div class="row row_active">
      <div class="checkbox">
        <input type="checkbox" name="" value="1" id="checkboxThree">
        <label for="checkboxThree"></label>
      </div>
      <div class="img"></div>
      <p class="name">John Cena</p>
      <p class="desc">aw and SmackDown brands. </p>
      <div class="label">
        <p class="label__text">Addult blankets needed</p>
      </div>
      <div class="info">
        <div class="clock-time">
          <img class="clock" src="../../assets/icn-clock.png" alt="clock">
          <p class="time">2 weeks ago</p>
        </div>
        <div class="message">
          <img  alt="mess" class="message-icon">
          <p class="message-count">5</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="checkbox">
        <input type="checkbox" name="" value="1" id="checkboxThree">
        <label for="checkboxThree"></label>
      </div>
      <div class="img"></div>
      <p class="name">John Cena</p>
      <p class="desc">American professional wrestler, actor, rapper and reality television show host. Cena is currently signed to WWE, where he is a free agent, appearing for both the Raw and SmackDown brands. </p>
      <div class="label">
        <p class="label__text">Addult blankets needed</p>
      </div>
      <div class="info">
        <div class="clock-time">
          <img class="clock" src="../../assets/icn-clock.png" alt="clock">
          <p class="time">2 weeks ago</p>
        </div>
        <div class="message">
          <img  alt="mess" class="message-icon">
          <p class="message-count">5</p>
        </div>
      </div>
    </div>
  </div>

</div>


