<div class="login-wrapper col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <img src="../../assets/img/logo_on_white.png" alt="logo">
  <h1>HR</h1>

  <h2>Please enter your company and email to reset password</h2>

  <form novalidate #forgotPassForm="ngForm" (ngSubmit)="onSubmit(forgotPassForm)">
    <fieldset class="well material_shadow_btm">
      <div class="form-group">
        <select name="_company"
                [(ngModel)]="selectedCompany"
                class="form-control"
                [disabled]="showSuccessMessage"
                required
                #company="ngModel">
          <option value="">Select your Company</option>
          <option *ngFor="let company of companies" [ngValue]="company._id">{{company.name}}</option>
        </select>
        <p *ngIf="company.errors?.required && forgotPassForm._submitted" class="validation-error">
          You can't leave this empty
        </p>

        <input type="email"
               class="form-control"
               placeholder="email"
               #email="ngModel"
               ngModel
               [disabled]="showSuccessMessage"
               name="email"
               (keyup)="validationError=''"
               pattern="[a-zA-Z0-9]*[_a-zA-Z0-9\.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})"
               required>
        <p *ngIf="email.errors?.required && (email.touched || forgotPassForm._submitted)" class="validation-error">
          You can't leave this empty
        </p>
        <p *ngIf="email.errors?.pattern && email.dirty && email.touched" class="validation-error">Invalid email</p>

        <div>
          <p class="validation-error">{{validationError}}</p>
        </div>
      </div>

      <button class="btn btn-success btn-block" *ngIf="!showSuccessMessage" [disabled]='!selectedCompany'>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        Send
      </button>
    </fieldset>
  </form>

  <p class="alert alert-info" *ngIf="showSuccessMessage">
    <i class="glyphicon glyphicon-exclamation-sign"></i>
    Please check your email to reset password
  </p>

  <p>
    <a [routerLink]="['/login']">Go To Sign In</a>
  </p>
</div>
