<div>
  <div class="page-header">
    <h1 class="form-title" *ngIf="!reasonId">Create reason</h1>
    <h1 class="form-title" *ngIf="reasonId">Edit reason</h1>
  </div>

  <form novalidate #addReasonForm="ngForm">
    <fieldset>
      <legend>Reason info</legend>
      <div class="form-group">
        <div class="required">
          <input type="text"
                 class="form-control"
                 placeholder="name"
                 name="name"
                 [ngModel]="reason.name"
                 maxlength="50"
                 minlength="1"
                 required>
        </div>
      </div><!-- End of form-group -->
    </fieldset>
  </form>

  <button class="btn btn-warning control-btn" (click)="goToList()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Cancel
  </button>
  <!-- Delete button with confirmation modal -->
  <hr-confirmation-modal class="control-btn" [custom_id]="reasonId" *ngIf="reasonId" [target]="'reason'"
                         (confirm)="deleteReason()"></hr-confirmation-modal>
  <button class="btn btn-primary control-btn" (click)="onSubmit(addReasonForm)" [disabled]="!addReasonForm.form.valid">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
    Save
  </button>
</div>
